<h2>demographics</h2>
<p><b>Address</b><br>
{{address}}<br>
{{city}}, {{state}} {{zipCode}}</p>
<p><b>Email</b><br>
<a href="mailto:{{email}}">{{email}}</a></p>
<p><b>Phone Number</b><br>
{{formatPhone phone}}
</p>
