<h2>demographics</h2>
<h5>address</h5>
<p>{{address}}<br>
{{city}}, {{state}} {{zipCode}}</p>
<h5>email</h5>
<p><a href="mailto:{{email}}">{{email}}</a></p>
<h5>Phone Number</h5>
<p>{{formatPhone phone}}</p>
