<h2>education</h2>
<h5>school</h5>
<p>{{school}}</p>
<h5>degree</h5>
<p>{{degree}}</p>
<h5>major</h5>
<p>{{major}}</p>
<h5>minor</h5>
<p>{{minor}}</p>
<h5>graduation date</h5>
<p>{{formatDate graduationDate "MM-DD-YYYY"}}</p>
